.container {
    display: grid;
    place-items: center;
}

.star_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.star {
    font-size: 2rem;
    color: darkgray;
}

.yellow {
    color: yellow;
}